<div class="center-page">
    <h1>There was an issue with editing your profile</h1>
    <h1>Click here to go back to profile page</h1>
    <h2><a href="/users/<%= @user.id %>"><button>PROFILE PAGE</button></a></h2>
    <p>Developer note: have had an issue with the #update returning false. What's with that?</p>
</div>