<h1>YOUR TEAM WAS INVALID</h1>
<h2>Please make sure your new team has the following</h2>
<ul>
    <li>Name</li>
    <li>Location</li>
    <li>Full Roster (5 players)</li>
    <li>A winning attitude</li>
</ul>

<h4>Note: Team cannot have same name or location as an existing team</h4>

<% if @team %>
    <a href="/teams/<%= @team.id %>"><button>Team Page</button></a><br><br>
<% else %>
    <a href="/teams/new"><button>Create New Team</button></a><br><br>
<% end %>