<div class="center-page">
    <h1>There was an issue with editing/deleting your team</h1>
    <h1>Click here to go back to team page</h1>
    <h2><a href="/teams/<%= @team.id %>"><button>TEAM PAGE</button></a></h2>
</div>